*{
padding: 0;
margin: 0;
font-family: 'Poiret One', cursive;
font-family: 'Signika', sans-serif;
}

.menu{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: auto;
    height: 70px;
}

.logo{
    width: 150px;
    margin-bottom: 25px;
}

.type{
    text-decoration: none;
    color: white;
}

.div{
    display: flex;
    gap: 15px;
}

.article img{
    width: 142px;
    height: 142px;
    
}

.div2 {
    display: flex;
    text-align: center;
}
